USE [master]
GO
/****** Object:  Database [resqlink]    Script Date: 12/9/2025 6:00:16 PM ******/
CREATE DATABASE [resqlink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'resqlink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\resqlink.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'resqlink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\resqlink_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [resqlink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [resqlink]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[EntityType] [nvarchar](100) NOT NULL,
	[EntityId] [int] NULL,
	[UserId] [int] NULL,
	[UserType] [nvarchar](50) NULL,
	[UserName] [nvarchar](200) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NULL,
	[Severity] [nvarchar](50) NOT NULL,
	[IsSuccessful] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[SessionId] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarangayBudgetItems]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarangayBudgetItems](
	[BudgetItemId] [int] IDENTITY(1,1) NOT NULL,
	[BudgetId] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Amount] [decimal](14, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarangayBudgets]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarangayBudgets](
	[BudgetId] [int] IDENTITY(1,1) NOT NULL,
	[BarangayName] [nvarchar](255) NOT NULL,
	[Year] [int] NOT NULL,
	[TotalAmount] [decimal](14, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CategoryTypeId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Types]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Types](
	[CategoryTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[TypeCode] [char](1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Category_Types] PRIMARY KEY CLUSTERED 
(
	[CategoryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Category_Types_TypeCode] UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Category_Types_TypeName] UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disasters]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disasters](
	[DisasterId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[DisasterType] [nvarchar](100) NOT NULL,
	[Severity] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Location] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DisasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donations]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donations](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[DonorId] [int] NOT NULL,
	[RecordedByUserId] [int] NOT NULL,
	[DisasterId] [int] NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[DonationType] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donors]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donors](
	[DonorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[IsOrganization] [bit] NOT NULL,
	[ContactNumber] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evacuees]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evacuees](
	[EvacueeId] [int] IDENTITY(1,1) NOT NULL,
	[DisasterId] [int] NOT NULL,
	[ShelterId] [int] NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RegisteredAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvacueeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcurementRequestItems]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcurementRequestItems](
	[RequestItemId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcurementRequests]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcurementRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[BarangayName] [nvarchar](255) NOT NULL,
	[SupplierId] [int] NULL,
	[RequestedByUserId] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relief_Goods]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relief_Goods](
	[RgId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ExpirationDate] [datetime2](0) NULL,
	[RequiresExpiration] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relief_Goods_Categories]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relief_Goods_Categories](
	[RgId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RgId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDisasterSummary]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDisasterSummary](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[DisasterId] [int] NOT NULL,
	[TotalEvacuees] [int] NOT NULL,
	[TotalDonations] [decimal](18, 2) NOT NULL,
	[GeneratedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportResourceDistribution]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportResourceDistribution](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[DisasterId] [int] NOT NULL,
	[ShelterId] [int] NOT NULL,
	[DistributedItems] [nvarchar](max) NOT NULL,
	[GeneratedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceAllocations]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAllocations](
	[AllocationId] [int] IDENTITY(1,1) NOT NULL,
	[StockId] [int] NOT NULL,
	[ShelterId] [int] NOT NULL,
	[AllocatedByUserId] [int] NOT NULL,
	[AllocatedQuantity] [int] NOT NULL,
	[AllocatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceDistributions]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceDistributions](
	[DistributionId] [int] IDENTITY(1,1) NOT NULL,
	[AllocationId] [int] NOT NULL,
	[EvacueeId] [int] NOT NULL,
	[DistributedByUserId] [int] NOT NULL,
	[DistributedQuantity] [int] NOT NULL,
	[DistributedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelter_Good_Transactions]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelter_Good_Transactions](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ShelterId] [int] NOT NULL,
	[RgId] [int] NOT NULL,
	[SourceStockId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[TransactionType] [char](1) NOT NULL,
	[TransactionUtc] [datetime2](7) NOT NULL,
	[PerformedBy] [nvarchar](128) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Shelter_Good_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelter_Goods]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelter_Goods](
	[ShelterGoodId] [int] IDENTITY(1,1) NOT NULL,
	[ShelterId] [int] NOT NULL,
	[RgId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Shelter_Goods] PRIMARY KEY CLUSTERED 
(
	[ShelterGoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Shelter_Goods_Shelter_Rg] UNIQUE NONCLUSTERED 
(
	[ShelterId] ASC,
	[RgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelters]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelters](
	[ShelterId] [int] IDENTITY(1,1) NOT NULL,
	[DisasterId] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Capacity] [int] NOT NULL,
	[CurrentOccupancy] [int] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShelterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[RgId] [int] NOT NULL,
	[DisasterId] [int] NULL,
	[ShelterId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[CapacityPercent]  AS (case when [MaxCapacity]>(0) then ([Quantity]*(100.0))/[MaxCapacity] else (0) end),
	[Status]  AS (case when [Quantity]=(0) then 'Empty' when [MaxCapacity]>(0) AND ([Quantity]*(100.0))/[MaxCapacity]<=(25) then 'Low' when [MaxCapacity]>(0) AND ([Quantity]*(100.0))/[MaxCapacity]<(75) then 'Medium' when [MaxCapacity]>(0) AND ([Quantity]*(100.0))/[MaxCapacity]>=(75) then 'High' else 'Unknown' end),
	[UnitCost] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](56) NULL,
	[LastName] [nvarchar](56) NULL,
	[MiddleName] [nvarchar](56) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [char](1) NULL,
	[MaritalStatus] [nvarchar](20) NULL,
	[ContactNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](500) NULL,
	[Age]  AS (case when [DateOfBirth] IS NULL then NULL else datediff(year,[DateOfBirth],getdate())-case when dateadd(year,datediff(year,[DateOfBirth],getdate()),[DateOfBirth])>getdate() then (1) else (0) end end),
PRIMARY KEY CLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](56) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteers]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteers](
	[VolunteerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[ContactNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Skills] [nvarchar](255) NULL,
	[Availability] [nvarchar](50) NULL,
	[AssignedShelterId] [int] NULL,
	[AssignedDisasterId] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Volunteers] PRIMARY KEY CLUSTERED 
(
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ('Info') FOR [Severity]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ((1)) FOR [IsSuccessful]
GO
ALTER TABLE [dbo].[BarangayBudgetItems] ADD  CONSTRAINT [DF_BudgetItems_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BarangayBudgets] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[BarangayBudgets] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[BarangayBudgets] ADD  CONSTRAINT [DF_BarangayBudgets_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BarangayBudgets] ADD  CONSTRAINT [DF_BarangayBudgets_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Category_Types] ADD  CONSTRAINT [DF_Category_Types_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category_Types] ADD  CONSTRAINT [DF_Category_Types_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Disasters] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Donations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Donors] ADD  DEFAULT ((0)) FOR [IsOrganization]
GO
ALTER TABLE [dbo].[Donors] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Evacuees] ADD  DEFAULT (sysutcdatetime()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[ProcurementRequests] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[ProcurementRequests] ADD  CONSTRAINT [DF_ProcReq_RequestDate]  DEFAULT (sysutcdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[ProcurementRequests] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Relief_Goods] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Relief_Goods] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Relief_Goods] ADD  DEFAULT ((0)) FOR [RequiresExpiration]
GO
ALTER TABLE [dbo].[ReportDisasterSummary] ADD  DEFAULT (sysutcdatetime()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[ReportResourceDistribution] ADD  DEFAULT (sysutcdatetime()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[ResourceAllocations] ADD  DEFAULT (sysutcdatetime()) FOR [AllocatedAt]
GO
ALTER TABLE [dbo].[ResourceDistributions] ADD  DEFAULT (sysutcdatetime()) FOR [DistributedAt]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] ADD  CONSTRAINT [DF_Shelter_Good_Transactions_Utc]  DEFAULT (sysutcdatetime()) FOR [TransactionUtc]
GO
ALTER TABLE [dbo].[Shelter_Goods] ADD  CONSTRAINT [DF_Shelter_Goods_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Shelter_Goods] ADD  CONSTRAINT [DF_Shelter_Goods_LastUpdated]  DEFAULT (sysutcdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Shelter_Goods] ADD  CONSTRAINT [DF_Shelter_Goods_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shelters] ADD  DEFAULT ((0)) FOR [CurrentOccupancy]
GO
ALTER TABLE [dbo].[Shelters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (sysutcdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Stocks] ADD  CONSTRAINT [DF_Stocks_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Stocks] ADD  CONSTRAINT [DF_Stocks_MaxCapacity]  DEFAULT ((1000)) FOR [MaxCapacity]
GO
ALTER TABLE [dbo].[Stocks] ADD  CONSTRAINT [DF_Stocks_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Volunteers] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Volunteers] ADD  DEFAULT (getutcdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Volunteers] ADD  DEFAULT ('') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[BarangayBudgetItems]  WITH CHECK ADD  CONSTRAINT [FK_BudgetItems_Budgets] FOREIGN KEY([BudgetId])
REFERENCES [dbo].[BarangayBudgets] ([BudgetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BarangayBudgetItems] CHECK CONSTRAINT [FK_BudgetItems_Budgets]
GO
ALTER TABLE [dbo].[BarangayBudgets]  WITH CHECK ADD  CONSTRAINT [FK_BarangayBudgets_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BarangayBudgets] CHECK CONSTRAINT [FK_BarangayBudgets_Users]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_CategoryTypeId] FOREIGN KEY([CategoryTypeId])
REFERENCES [dbo].[Category_Types] ([CategoryTypeId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_CategoryTypeId]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_Donations_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_Donations_DisasterId]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_Donations_DonorId] FOREIGN KEY([DonorId])
REFERENCES [dbo].[Donors] ([DonorId])
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_Donations_DonorId]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_Donations_RecordedBy] FOREIGN KEY([RecordedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_Donations_RecordedBy]
GO
ALTER TABLE [dbo].[Evacuees]  WITH CHECK ADD  CONSTRAINT [FK_Evacuees_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[Evacuees] CHECK CONSTRAINT [FK_Evacuees_DisasterId]
GO
ALTER TABLE [dbo].[Evacuees]  WITH CHECK ADD  CONSTRAINT [FK_Evacuees_ShelterId] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[Evacuees] CHECK CONSTRAINT [FK_Evacuees_ShelterId]
GO
ALTER TABLE [dbo].[ProcurementRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_ProcReqItems_Requests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ProcurementRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProcurementRequestItems] CHECK CONSTRAINT [FK_ProcReqItems_Requests]
GO
ALTER TABLE [dbo].[ProcurementRequests]  WITH CHECK ADD  CONSTRAINT [FK_ProcReq_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProcurementRequests] CHECK CONSTRAINT [FK_ProcReq_Suppliers]
GO
ALTER TABLE [dbo].[ProcurementRequests]  WITH CHECK ADD  CONSTRAINT [FK_ProcReq_Users] FOREIGN KEY([RequestedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProcurementRequests] CHECK CONSTRAINT [FK_ProcReq_Users]
GO
ALTER TABLE [dbo].[Relief_Goods_Categories]  WITH CHECK ADD  CONSTRAINT [FK_RGC_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relief_Goods_Categories] CHECK CONSTRAINT [FK_RGC_CategoryId]
GO
ALTER TABLE [dbo].[Relief_Goods_Categories]  WITH CHECK ADD  CONSTRAINT [FK_RGC_RgId] FOREIGN KEY([RgId])
REFERENCES [dbo].[Relief_Goods] ([RgId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relief_Goods_Categories] CHECK CONSTRAINT [FK_RGC_RgId]
GO
ALTER TABLE [dbo].[ReportDisasterSummary]  WITH CHECK ADD  CONSTRAINT [FK_ReportDisasterSummary_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[ReportDisasterSummary] CHECK CONSTRAINT [FK_ReportDisasterSummary_DisasterId]
GO
ALTER TABLE [dbo].[ReportResourceDistribution]  WITH CHECK ADD  CONSTRAINT [FK_ReportResourceDistribution_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[ReportResourceDistribution] CHECK CONSTRAINT [FK_ReportResourceDistribution_DisasterId]
GO
ALTER TABLE [dbo].[ReportResourceDistribution]  WITH CHECK ADD  CONSTRAINT [FK_ReportResourceDistribution_ShelterId] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[ReportResourceDistribution] CHECK CONSTRAINT [FK_ReportResourceDistribution_ShelterId]
GO
ALTER TABLE [dbo].[ResourceAllocations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceAllocations_ShelterId] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[ResourceAllocations] CHECK CONSTRAINT [FK_ResourceAllocations_ShelterId]
GO
ALTER TABLE [dbo].[ResourceAllocations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceAllocations_StockId] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stocks] ([StockId])
GO
ALTER TABLE [dbo].[ResourceAllocations] CHECK CONSTRAINT [FK_ResourceAllocations_StockId]
GO
ALTER TABLE [dbo].[ResourceAllocations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceAllocations_User] FOREIGN KEY([AllocatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ResourceAllocations] CHECK CONSTRAINT [FK_ResourceAllocations_User]
GO
ALTER TABLE [dbo].[ResourceDistributions]  WITH CHECK ADD  CONSTRAINT [FK_ResourceDistributions_AllocationId] FOREIGN KEY([AllocationId])
REFERENCES [dbo].[ResourceAllocations] ([AllocationId])
GO
ALTER TABLE [dbo].[ResourceDistributions] CHECK CONSTRAINT [FK_ResourceDistributions_AllocationId]
GO
ALTER TABLE [dbo].[ResourceDistributions]  WITH CHECK ADD  CONSTRAINT [FK_ResourceDistributions_EvacueeId] FOREIGN KEY([EvacueeId])
REFERENCES [dbo].[Evacuees] ([EvacueeId])
GO
ALTER TABLE [dbo].[ResourceDistributions] CHECK CONSTRAINT [FK_ResourceDistributions_EvacueeId]
GO
ALTER TABLE [dbo].[ResourceDistributions]  WITH CHECK ADD  CONSTRAINT [FK_ResourceDistributions_User] FOREIGN KEY([DistributedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ResourceDistributions] CHECK CONSTRAINT [FK_ResourceDistributions_User]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_SGTx_Rg] FOREIGN KEY([RgId])
REFERENCES [dbo].[Relief_Goods] ([RgId])
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] CHECK CONSTRAINT [FK_SGTx_Rg]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_SGTx_Shelter] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] CHECK CONSTRAINT [FK_SGTx_Shelter]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_SGTx_Stock] FOREIGN KEY([SourceStockId])
REFERENCES [dbo].[Stocks] ([StockId])
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] CHECK CONSTRAINT [FK_SGTx_Stock]
GO
ALTER TABLE [dbo].[Shelter_Goods]  WITH CHECK ADD  CONSTRAINT [FK_Shelter_Goods_RgId] FOREIGN KEY([RgId])
REFERENCES [dbo].[Relief_Goods] ([RgId])
GO
ALTER TABLE [dbo].[Shelter_Goods] CHECK CONSTRAINT [FK_Shelter_Goods_RgId]
GO
ALTER TABLE [dbo].[Shelter_Goods]  WITH CHECK ADD  CONSTRAINT [FK_Shelter_Goods_ShelterId] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[Shelter_Goods] CHECK CONSTRAINT [FK_Shelter_Goods_ShelterId]
GO
ALTER TABLE [dbo].[Shelters]  WITH CHECK ADD  CONSTRAINT [FK_Shelters_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[Shelters] CHECK CONSTRAINT [FK_Shelters_DisasterId]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_Stocks_DisasterId] FOREIGN KEY([DisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_Stocks_DisasterId]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_Stocks_RgId] FOREIGN KEY([RgId])
REFERENCES [dbo].[Relief_Goods] ([RgId])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_Stocks_RgId]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_Stocks_ShelterId] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_Stocks_ShelterId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_RoleId]
GO
ALTER TABLE [dbo].[Volunteers]  WITH CHECK ADD  CONSTRAINT [FK_Volunteers_Disasters] FOREIGN KEY([AssignedDisasterId])
REFERENCES [dbo].[Disasters] ([DisasterId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Volunteers] CHECK CONSTRAINT [FK_Volunteers_Disasters]
GO
ALTER TABLE [dbo].[Volunteers]  WITH CHECK ADD  CONSTRAINT [FK_Volunteers_Shelters] FOREIGN KEY([AssignedShelterId])
REFERENCES [dbo].[Shelters] ([ShelterId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Volunteers] CHECK CONSTRAINT [FK_Volunteers_Shelters]
GO
ALTER TABLE [dbo].[Category_Types]  WITH CHECK ADD  CONSTRAINT [CK_Category_Types_TypeCode] CHECK  (([TypeCode]='O' OR [TypeCode]='M' OR [TypeCode]='N' OR [TypeCode]='P'))
GO
ALTER TABLE [dbo].[Category_Types] CHECK CONSTRAINT [CK_Category_Types_TypeCode]
GO
ALTER TABLE [dbo].[Disasters]  WITH CHECK ADD  CONSTRAINT [CK_Disasters_Severity] CHECK  (([Severity]='Critical' OR [Severity]='High' OR [Severity]='Moderate' OR [Severity]='Low'))
GO
ALTER TABLE [dbo].[Disasters] CHECK CONSTRAINT [CK_Disasters_Severity]
GO
ALTER TABLE [dbo].[Disasters]  WITH CHECK ADD  CONSTRAINT [CK_Disasters_Status] CHECK  (([Status]='Closed' OR [Status]='Contained' OR [Status]='Active' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[Disasters] CHECK CONSTRAINT [CK_Disasters_Status]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [CK_Donations_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [CK_Donations_Amount]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [CK_Donations_Status] CHECK  (([Status]='Refunded' OR [Status]='Cancelled' OR [Status]='Received' OR [Status]='Pledged'))
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [CK_Donations_Status]
GO
ALTER TABLE [dbo].[Evacuees]  WITH CHECK ADD  CONSTRAINT [CK_Evacuees_Status] CHECK  (([Status]='CRITICAL' OR [Status]='Deceased' OR [Status]='Needs Med' OR [Status]='Stable' OR [Status]='Critical' OR [Status]='Transferred' OR [Status]='Released' OR [Status]='Admitted'))
GO
ALTER TABLE [dbo].[Evacuees] CHECK CONSTRAINT [CK_Evacuees_Status]
GO
ALTER TABLE [dbo].[ProcurementRequestItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Relief_Goods]  WITH CHECK ADD  CONSTRAINT [CK_Relief_Goods_Expiration_Required] CHECK  (([RequiresExpiration]=(0) OR [RequiresExpiration]=(1) AND [ExpirationDate] IS NOT NULL AND [ExpirationDate]>sysutcdatetime()))
GO
ALTER TABLE [dbo].[Relief_Goods] CHECK CONSTRAINT [CK_Relief_Goods_Expiration_Required]
GO
ALTER TABLE [dbo].[ResourceAllocations]  WITH CHECK ADD  CONSTRAINT [CK_ResourceAllocations_Qty] CHECK  (([AllocatedQuantity]>(0)))
GO
ALTER TABLE [dbo].[ResourceAllocations] CHECK CONSTRAINT [CK_ResourceAllocations_Qty]
GO
ALTER TABLE [dbo].[ResourceDistributions]  WITH CHECK ADD  CONSTRAINT [CK_ResourceDistributions_Qty] CHECK  (([DistributedQuantity]>(0)))
GO
ALTER TABLE [dbo].[ResourceDistributions] CHECK CONSTRAINT [CK_ResourceDistributions_Qty]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions]  WITH CHECK ADD  CONSTRAINT [CK_SGTx_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] CHECK CONSTRAINT [CK_SGTx_Quantity_Positive]
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions]  WITH CHECK ADD  CONSTRAINT [CK_SGTx_Type] CHECK  (([TransactionType]='O' OR [TransactionType]='I'))
GO
ALTER TABLE [dbo].[Shelter_Good_Transactions] CHECK CONSTRAINT [CK_SGTx_Type]
GO
ALTER TABLE [dbo].[Shelter_Goods]  WITH CHECK ADD  CONSTRAINT [CK_Shelter_Goods_Quantity_NonNegative] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Shelter_Goods] CHECK CONSTRAINT [CK_Shelter_Goods_Quantity_NonNegative]
GO
ALTER TABLE [dbo].[Shelters]  WITH CHECK ADD  CONSTRAINT [CK_Shelters_Capacity] CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Shelters] CHECK CONSTRAINT [CK_Shelters_Capacity]
GO
ALTER TABLE [dbo].[Shelters]  WITH CHECK ADD  CONSTRAINT [CK_Shelters_CurrentOccupancy] CHECK  (([CurrentOccupancy]>=(0)))
GO
ALTER TABLE [dbo].[Shelters] CHECK CONSTRAINT [CK_Shelters_CurrentOccupancy]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CK_Stocks_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CK_Stocks_Quantity]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CK_Stocks_Quantity_MaxCapacity] CHECK  (([Quantity]<=[MaxCapacity]))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CK_Stocks_Quantity_MaxCapacity]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CK_Stocks_Quantity_NonNegative] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CK_Stocks_Quantity_NonNegative]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [CK_UserProfiles_Gender] CHECK  (([Gender]='O' OR [Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [CK_UserProfiles_Gender]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [CK_UserProfiles_MaritalStatus] CHECK  (([MaritalStatus]='Unknown' OR [MaritalStatus]='Divorced' OR [MaritalStatus]='Separated' OR [MaritalStatus]='Widowed' OR [MaritalStatus]='Married' OR [MaritalStatus]='Single'))
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [CK_UserProfiles_MaritalStatus]
GO
ALTER TABLE [dbo].[Volunteers]  WITH CHECK ADD  CONSTRAINT [CK_Volunteers_Status] CHECK  (([Status]='On Leave' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Volunteers] CHECK CONSTRAINT [CK_Volunteers_Status]
GO
/****** Object:  StoredProcedure [dbo].[AddDonation]    Script Date: 12/9/2025 6:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDonation]
    @DonorId            INT,
    @RecordedByUsername NVARCHAR(112),
    @DisasterId         INT,
    @Amount             DECIMAL(12,2),
    @DonationType       NVARCHAR(200),
    @Status             NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RecordedByUserId INT;
    SELECT @RecordedByUserId = UserId
    FROM dbo.Users
    WHERE Username = @RecordedByUsername;

    IF @RecordedByUserId IS NULL
    BEGIN
        RAISERROR('Recorder username not found: %s',16,1,@RecordedByUsername);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM dbo.Donors WHERE DonorId = @DonorId)
    BEGIN
        RAISERROR('DonorId %d not found.',16,1,@DonorId);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM dbo.Disasters WHERE DisasterId = @DisasterId)
    BEGIN
        RAISERROR('DisasterId %d not found.',16,1,@DisasterId);
        RETURN;
    END;
        INSERT INTO dbo.Donations (DonorId, RecordedByUserId, DisasterId, Amount, DonationType, Status)
    VALUES (@DonorId, @RecordedByUserId, @DisasterId, @Amount, @DonationType, @Status);
END;
GO
USE [master]
GO
